<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coming Soon</title>

 
<link href='https://fonts.googleapis.com/css?family=Merriweather:700,400|Lato' rel='stylesheet' type='text/css'>
<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">


</head>
<body>
<div class="wrapper"><!--wrapper started-->
	<div class="abovebanner"><!-- above banner started -->
			<div class="header"><!-- header started-->
				<h1 id="logo">Fabulous<span>Refab</span></h1>
				<p class="line1">Antiques with a new sense of fashion</p>
			</div><!-- header ended-->
						
			<div class="content"><!-- content started-->
					<p>Looking for that exciting new piece? Fabulous Refab takes older decor and gives them a new look to match your style.</p> <br>
					<p>If we don't have the piece your looking for. Just tell us and we'll try to find it and add any special finishing touches</p>
					
					<div class="form"><!-- form started -->
						<div class="mainform">
							<div class="field"><input type="text" id="test" value="enter your email address"/></div>
							<div class="submit"><input type="button" value="subscribe here" /></div>						
						</div>
					</div><!-- form ended -->

			</div><!-- content ended -->
	</div><!-- above banner ended -->
		
		<div class="belowbanner">
			<div class="email">
				<h2>email us</h2>
				<p><a href="mailto:comingdesigns@gmail.com">comingdesigns@gmail.com</a></p> <br>
			</div>
			<div class="social">
				<h2>find us here</h2>
					<a href="https://www.facebook.com/comingdesigns/" class="socicon-facebook"></a>
					<!-- <a href="#" class="socicon-twitter"></a>
					<a href="#" class="socicon-youtube"></a> -->
					<a href="https://goo.gl/maps/7Ny43ZNQV4U2" class="socicon-google"></a>
			</div>			
			<div class="call">
				<h2>call us</h2>
				<p>(678) 249-0197</p>
			</div>			
		</div>
</div>

	
	
		<script type="text/javascript">
var placeholder = $("#test").val();

$("#test").keydown(function() {
    if (this.value == placeholder) {
        this.value = '';
    }
}).blur(function() {
    if (this.value == '2') {
        this.value = placeholder;
    }
});
</script>
					

</body>
</html>
